<h3>Your have an invitation to join a meet {{ meetName }}</h3>

<div>
  <p>Please click below link to join the meet</p>
  <p><a href='{{ meetUrl }}' target='_blank'>Join</a></p>
</div>

<div>
  <p>
    Thanks,
    <br>
    Teleconsult
  </p>
</div>
